.message {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
}
.message__info {
  margin-left: 20px;
}

.message__timestamp {
  margin-left: 20px;
  font-size: x-small;
  color: gray;
}
